# ur_servo_config.yaml
#################################
# Paramètres MoveIt Servo
#################################
use_gazebo: true # Mettre à false si sur robot réel

## Propriétés du robot
move_group_name:  ur_manipulator  # Vérifie que c'est bien le nom dans ton SRDF
planning_frame:   base_link
ee_frame_name:    tool0
robot_link_command_frame:  base_link

## Paramètres de commande
publish_period: 0.034  # ~30Hz (Doit être rapide)
command_in_type: "speed_units" # "unitless" pour joystick, "speed_units" (m/s) pour script
scale:
  # Facteurs d'échelle pour la vitesse
  linear:  0.4
  rotational: 0.4
  joint: 0.01

## Topic d'entrée (Celui que notre script Python utilise)
cartesian_command_in_topic: ~/delta_twist_cmds
joint_command_in_topic: ~/delta_joint_cmds

## Vérification de collision
check_collisions: true
collision_check_rate: 10.0

#################################
# Sortie (Output) - La partie manquante
#################################

# Le topic que le contrôleur du robot écoute
# D'après ton graph, le contrôleur est "joint_trajectory_controller"
# Le topic standard est donc :
command_out_topic: /joint_trajectory_controller/joint_trajectory

# Le type de message. Pour l'UR, on envoie des trajectoires.
command_out_type: trajectory_msgs/JointTrajectory

# Ce qu'on met dans le message (Position/Vitesse)
publish_joint_positions: true
publish_joint_velocities: true
publish_joint_accelerations: false

# Lissage des commandes (optionnel mais recommandé)
low_pass_filter_coeff: 2.0